@model List<ProjectManagment.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Developer Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Describtion</td>
                <td>@task.ProjectName</td>
                <td>@(
                    task.StartDate.HasValue ? task.StartDate.Value.ToString("yyyy-MM-dd") : ""
                            )</td>
                <td>@(
                    task.DeadLine.HasValue ? task.DeadLine.Value.ToString("yyyy-MM-dd") : ""
                            )</td>
                <td>@(
                    task.Status.HasValue ? (task.Status.Value ? "Completed" : "Not Completed") : "Not Completed"
                            )</td>
                <td>@task.UserName</td>
                <td>
                    @if (task.Status == false || task.Status == null)
                    {
                        <button><a asp-action="CompleteTask" asp-controller="Developer" asp-route-Id="@task.Id">Complete</a></button>

                    }
                    </td>
            </tr>
        }
    </tbody>
</table>
